header {
    height: 60px;
    background-color: #222;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

header .logo::before,
header .logo::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: crimson;
    top: 50%;
    transform: translateY(-50%);
}

header .logo::before {
    left: -10px;
}

header .logo::after {
    right: -10px;
}